.source-serif verif {
  font-family: "Source Serif 4", serif;
  font-optical-sizing: auto;
  font-weight: 300;
  word-spacing: 3px;
  font-style: normal;
}

body {
  width: 100%;
  /* background-color: #C62424; */
  overflow-x: hidden;
  margin: 0;
  /* font-family: "ＭＳ Ｐゴシック"; */
  font-family: "Source Serif 4";
}
main {
  width: 100%;
  height: 100%;
  background-color: #c62424;
  overflow-x: hidden;
}

.logo {
  width: 100%;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
}
.logo-img {
  /* scale: 0.4; */
  width: 30%;
  z-index: 2;
  animation: fade-in-down 2s ease forwards, bob 4s ease-in-out infinite;

  /*media rule*/
  @media (max-width: 1000px) {
    width: 80%;
  }
}

.trailer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;

  iframe {
    /* width: 50% !important; */
    width: 640px;
    height: 360px;
    aspect-ratio: 16/9 !important;
    /*color with opacity*/
    border: 1px solid rgba(255, 255, 255, 0.2);

    @media (max-width: 800px) {
      width: auto;
      height: auto;
      width: 90%;
    }
  }
}

@keyframes bob {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0px);
  }
}

.hinge {
  animation: hinge 4s ease forwards;
}

@keyframes hinge {
  0% {
    transform: rotate(0);
    transform-origin: 45%;
    animation-timing-function: ease-in-out;
  }
  10%,
  30% {
    transform: rotate(80deg);
    transform-origin: 45%;
    animation-timing-function: ease-in-out;
  }
  20% {
    transform: rotate(60deg);
    transform-origin: 45%;
    animation-timing-function: ease-in-out;
  }
  40% {
    transform: rotate(60deg) translateY(0);
    opacity: 1;
    transform-origin: 45%;
    animation-timing-function: ease-in-out;
  }
  100% {
    transform: translateY(1400px);
    opacity: 0;
  }
}

@keyframes fade-in-down {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.top-bar-graphic {
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
}
.background {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.background-bar-img {
  /*cover*/
  object-fit: fill;
}
.content {
  background: linear-gradient(#c40014, #66000a 70%);
  /* padding: 20px 100px; */
  overflow-x: hidden;
  text-shadow: 2px 2px 5px #c40014;
}

.dana-img {
  position: absolute;
  right: 0;
  bottom: -1000px;
  z-index: 0;
  filter: brightness(70%);
  width: 30vw;
}

.caption {
  /* font-family: 'Source Serif Pro'; */
  position: relative;
  padding: 20px 100px;
  font-size: 3vw;
  z-index: 1;

  @media (max-width: 1000px) {
    font-size: 5vw;
    padding: 20px 50px;
  }
}

#donate-button-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
#donate-button {
  position: relative;
}
#donate-button img {
  width: 300px;
}

#donate-button img:hover {
  animation: bounce2 2s ease infinite;
}

@keyframes bounce2 {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-15px);
  }
  60% {
    transform: translateY(-7px);
  }
}

.bold {
  font-weight: 400;
}

.caption em {
  font-weight: normal !important;
}

.caption .white-bold {
  color: white;
}
.double-bold {
  font-weight: 900 !important;
}
.main-section {
  padding: 0 200px;
  @media (max-width: 1000px) {
    padding: 0 50px;
  }
}
.main-section b {
  color: rgb(242, 179, 200);
}

.two-row-colum-holder {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 10px;
  gap: 40px;
  width: 100%;
  color: white;

  @media (max-width: 1000px) {
    flex-direction: column;
  }
}
.text-column {
  flex-grow: 1;
  font-size: larger;
  flex-basis: 0;
  /* width: 25%; */
  color: white;
  z-index: 1;
}

.full-text-column {
  flex-grow: 1;
  font-size: larger;
  color: white;
}

.column-title {
  font-size: xx-large;
  font-weight: 900;
  margin-bottom: 10px;
  color: white;
}

hr {
  border: 0;
  height: 2px;
  margin: 50px 100px;
  background: #facccc;
}

.lennyface {
  /*stop wrapping*/
  white-space: nowrap;
  font-size: medium;
}

form {
  width: 100%;
}

form input {
  background-color: white;
  color: black;
  font-weight: bold;
  border-radius: 10px;
  height: fit-content;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  font-size: 1.3rem;
  width: 100%;
}

form input.hidden-submit-button {
  flex-grow: 0;
  opacity: 0;
  width: 0px;
  transition: all 1.3s ease-in-out;
}
form input.submit-button {
  flex-grow: 1;
  opacity: 1;
  width: 100%;
  transition: all 1.3s ease-in-out;
  transform: scaleY(1);
  /* transition: width opacity 1.3s ease-in-out; */
}

form input.hidden {
  opacity: 0;
  transform: scaleY(0);
}

form input.submit-button:hover {
  transition: all 0.3s ease-in-out;
  background-color: rgba(224, 126, 126, 0.62);
  translate: 0px -2.5px;
}
form input.submit-button:active {
  transition: all 0.3s ease-in-out;
  background-color: rgba(224, 126, 126, 0.62);
  translate: 0px 2.5px;
}

a {
  color: rgb(242, 179, 200);
}
.gallery {
  width: 100%;
  /*display: grid;
  grid-template-columns: repeat(auto-fit, minmax(500vw, 1fr));*/
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 5px;
}
.galleryImg {
  width: 33%;
  object-fit: contain;
  @media (max-width: 1400px) {
    width: 44%;
  }
  @media (max-width: 1000px) {
    width: 100%;
  }
}

/* 
SCROLLBAR
*/
/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #000000;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #6d0909;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(224, 126, 126);
}
